<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.annotation.dao.TasktypeMapper" >


  <resultMap id="BaseResultMap" type="com.annotation.model.Tasktype" >
    <id column="typeid" property="typeid" jdbcType="INTEGER" />
    <result column="typename" property="typename" jdbcType="VARCHAR" />
  </resultMap>


  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tasktype
    where typeid = #{typeid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.annotation.model.Tasktype" >
    insert into tasktype (typeid, typename)
    values (#{typeid,jdbcType=INTEGER}, #{typename,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.annotation.model.Tasktype" >
    update tasktype
    set typename = #{typename,jdbcType=VARCHAR}
    where typeid = #{typeid,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select typeid, typename
    from tasktype
    where typeid = #{typeid,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select typeid, typename
    from tasktype
  </select>
</mapper>